.single-course-img {
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.single-course-detalis {
    margin-top: 20px;
    h1 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    p {
        font-size: 0.9rem;
    }
}

.single-course-price {
    margin-top: 20px;
    span {
        font-size: 1rem;
        font-weight: 600;
    }
}